<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="io.github.rhildred.hellophonegap" version="0.0.1">

    <name>hello phonegap</name>

    <description>
        most basic of examples, responds to deviceready
    </description>
    <content src="index.html" />
    <author href="https://rhildred.github.io">
        Rich Hildred
    </author>
    <access origin="*" />
</widget>
