<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todos</title>
    <script src="js/angular.js"></script>
    <script src="js/uuid.js"></script>
    <script src="js/index.js"></script>
</head>

<body>
    <form ng-app="myApp" ng-controller="myCtrl" ng-submit="addTodo()">
        <h2>Todos</h2>
        <div class="row" ng-repeat="todo in model.todos">
            {{todo.name}}
            <button type="button" ng-click="deleteTodo(todo.ID)">-</button>
        </div>
        <div class="pull-right">
            <input placeholder="add todo" ng-model="todo_to_add" />
            <button type="submit">+</button>
        </div>
    </form>

</body>

</html>